ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 0;
}


/* PC */
@media (min-width: 768px) {
    ul {
        grid-template-columns: repeat(4, 1fr);
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.home-list {
    width: 100%;
}

.home-list__item {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f3eed5;
    border-bottom: solid 6px #f0e3a0;
    border-radius: 9px;
}

.home-list__title{
    color: #e4af9b;
    text-align: center;
    border: dashed 2px white;
    margin: 5px 0 0 0;
    padding: 0;
}

.home-list__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover; //画像がコンテナに収まるようにトリミング
    object-position: center center; //画像の中心をコンテナの中心に合わせる
}

.loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
