ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 0;
}


/* PC */
@media (min-width: 768px) {
    ul {
        grid-template-columns: repeat(4, 1fr);
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.home-list {
    width: 100%;
}

.home-list__item {
    padding: 0.5em 0.7em;
    margin: 2em 0;
    border: 1px solid #f2f0f0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    border-radius: 9px;
}

.home-list__title{
    color: #737271;
    font-size: 0.8em;
    text-align: center;
    margin: 5px 0 0 0;
    padding: 0;
    overflow-wrap: break-word;
    word-break: break-all;
    border: 1px solid #f0eaea;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.home-list__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover; //画像がコンテナに収まるようにトリミング
    object-position: center center; //画像の中心をコンテナの中心に合わせる
    border-radius: 9px;
}

.loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
